<section class="container grid-form" ng-init="init()">
	<h3 class="title_grid">DATA SURAT KELUAR</h3>
	<div flash-message="5000" ></div>
	<section>
		<div ui-grid="gridOptions" class="suratkeluarGrid" id="suratkeluar" ui-grid-pagination ui-grid-selection></div>
	</section>
	<div>
		<button data-ng-click="addRow()" class="btn btn-primary btn-surat">Tambah Data</button>
		<button data-ng-click="searchRow()" class="btn btn-primary btn-surat">Cari Data</button>
		<button data-ng-click="refreshRow()" class="btn btn-primary btn-surat">Refresh Data</button>
	</div>
</section>
