<div>
	<div class="modal-header">
		<h3 class="modal-title">{{ title_surat }} Surat Masuk</h3>
	</div>
	<div class="modal-body">
		<form id="formSuratMasuk" name="formSuratMasuk" method="post" enctype="multipart/form-data" role="form" novalidate>
			<div class="form-group" id="no_urut">
				<label for="no_index">Nomor Urut</label>
				<div class="col-md-12" style="padding:0 0 15px 0;">
					<div class="form-inline">
						<div class="form-group" id="jenissurat_error" show-errors>
							<select class="form-control" id="idjenissurat" name="idjenissurat" required ng-model="data_suratmasuk.idjenissurat" ng-change="getLastNo(data_suratmasuk.idjenissurat)">
								<option ng-repeat="js in jenissurat" value="{{js.idjenissurat}}">{{js.singkatan}}</option>
							</select> - 
						</div>
						<div class="form-group" id="no_index_error" style="width:20%;" show-errors>
							<input type="text" class="form-control" id="no_index" name="no_index" required placeholder="No Urut" ng-model="data_suratmasuk.no_index" maxlength="10" style="width:90%;" />
						</div>
					</div>
				</div>
				<span class="help-block" ng-if="formSuratMasuk.idjenissurat.$error.required" id="show_err_jenissurat">Pilih jenis surat</span>
				<span class="help-block" ng-if="formSuratMasuk.no_index.$error.required" id="show_err_no_index">No Urut harus diisi</span>
				<span class="help-block" ng-if="formSuratMasuk.no_index.$error.wrong">No urut {{data_suratmasuk.no_index}} sudah ada!</span>
				<span class="help-block" ng-if="formSuratMasuk.no_index.$error.zero">No urut ini tidak dibolehkan!</span>
			</div>
			<div class="col-md-6 form-group" style="padding:0 10px 0 0;">
				<label for="no_surat">Nomor Surat</label>
				<input type="text" class="form-control" id="no_surat" placeholder="no_surat" required ng-model="data_suratmasuk.no_surat" maxlength="50"/>
				<span class="help-block" ng-if="formSuratMasuk.no_surat.$error.required">Nomor surat harus diisi</span>
			</div>
			<div class="col-md-6 form-group" style="padding:0;">
				<label for="tgl_surat">Tanggal Surat</label>
				<input type="date" class="form-control" id="tgl_surat" placeholder="Tanggal surat" ng-model="data_suratmasuk.tgl_surat" />
			</div>
			<div class="col-md-6 form-group" style="padding:0 10px 0 0;">
				<label for="asal_surat">Asal Surat</label>
				<input type="text" class="form-control" id="asal_surat" placeholder="asal_surat" required ng-model="data_suratmasuk.asal_surat" maxlength="150"/>
			</div>
			<div class="col-md-6 form-group" style="padding:0;">
				<label for="tgl_terima">Tanggal Surat Diterima</label>
				<input type="date" class="form-control" id="tgl_terima" placeholder="Tanggal terima surat" ng-model="data_suratmasuk.tgl_terima" />
			</div>
			<div class="form-group">
				<label for="perihal">Perihal</label>
				 <textarea class="form-control" rows="2" id="perihal" placeholder="Perihal" required ng-model="data_suratmasuk.perihal"></textarea>
			</div>
			<div class="form-group">
				<label for="perihal">Informasi/Instruksi</label>
				 <textarea class="form-control" rows="2" id="instruksi" placeholder="Informasi/Instruksi" required ng-model="data_suratmasuk.instruksi"></textarea>
			</div>
			<div class="form-group">
				<label for="disposisi">Disposisi Kepada</label>
				<div class="col-md-12" style="padding:0 0 5px 0;">
					<div class="form-inline">
						<div class="form-group">
							<label ng-repeat="b in bagian" style="margin:0;">
								<input type="checkbox" class="form-control" name="disposisi[]" value="{{ b.idbagian }}" style="margin:0;" ng-model="data_suratmasuk.disposisi[b.idbagian].isChecked">&nbsp;{{b.singkatan}}&nbsp;&nbsp;&nbsp; 
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 form-group" style="padding:0 10px 0 0;">
				<label for="lampiran">Lampiran</label>
				<input type="text" class="form-control" id="lampiran" placeholder="lampiran" ng-model="data_suratmasuk.lampiran" maxlength="20"/>
			</div>
			<div class="col-md-6 form-group" style="padding:0;">
				<label for="file_document">Upload Dokumen</label>
				<input type="file" class="form-control" id="file_document" ngf-select ng-model="data_suratmasuk.file_document" name="file_document" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'" ngf-max-size="20MB"/>
				<span ng-show="formSuratMasuk.file_document.$error.maxSize">Ukuran file terlalu besar 
          {{data_suratmasuk.file_document.size / 1000000|number:1}}MB: max 20M</span>
				<button ng-click="data_suratmasuk.file_document = null" ng-show="data_suratmasuk.file_document">Hapus</button>
				<span class="edit" ng-show="data_suratmasuk.file_document_edit.length">
					<span ng-repeat="e in data_suratmasuk.file_document_edit" class="post-tag .rendered-element" ng-model="data_suratmasuk.file_document_edit">{{e}} <span title="remove this tag" class="delete-tag" ng-click="removeFile(e)"></span></span>
				</span>
				<span class="progress" ng-show="data_suratmasuk.file_document.progress >= 0 && data_suratmasuk.file_document.length">
					<div style="width:{{data_suratmasuk.file_document.progress}}%" ng-bind="data_suratmasuk.file_document.progress + '%'"></div>
				</span>
				<span ng-show="data_suratmasuk.file_document.result && data_suratmasuk.file_document.length">Upload dokumen berhasil</span>
				<span class="errorMsg" ng-show="errorMsg">{{errorMsg}}</span>
			</div>
			<input type="hidden" name="current_idjenissurat" value="">
			<input type="hidden" name="current_no_index" value="">
		</form>
	</div>
	<div class="modal-footer" style="border:0;">
		<button class="btn btn-success" ng-click="save()">Simpan</button>
		<button class="btn btn-warning" ng-click="$close()">Batal</button>
	</div>
</div>
